[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/jankuc/beautifulhugo.git
[submodule "public"]
	path = public
	url = git@github.com:jankuc/jankuc.github.io.git
	branch = master
